@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";

* {
    box-sizing: border-box;
}

h1 {
     font-size: 3.5em;
     font-weight: 100;
     color: #fff;
     line-height: 1em;
     margin: 0 0 0.5em 0;
     padding: 0;
}

body {
    background-image: url("../../images/banner");
    background-repeat: no-repeat;
    font-family: "Raleway";
    margin: 0;
    padding: none;
    background-color: rgb( 154, 205, 237 );
    color: rgb( 28, 78, 104 );
}

footer {
    font-family: "Raleway";
    font-size: 12px;
    padding-left: 10px;
    position:absolute;
    bottom: 0;
    width: 100%;
}

/* Links */
a {
    text-decoration: none;
}
a:link {
    color: rgb( 233, 73, 154 );
}
a:visited {
    color: rgb( 110, 30, 71 );
}
a:hover {
    color: rgb( 252, 207, 230 );
}

/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
#canvas {
    padding-right: 0;
    display: none;
    border: 0px none;
}
